<configuration>


	<connectionStrings>
		
	
				
	
			<add name="TaskTrackerDB"
				 connectionString="Server=tcp:task-tracker-system-server.database.windows.net,1433;
                         Initial Catalog=TaskTrackerV2;
                         Persist Security Info=False;
                         User ID=Ghady@task-tracker-system-server;
                         Password=@Sytfad70;
                         MultipleActiveResultSets=False;
                         Encrypt=True;
                         TrustServerCertificate=False;
                         Connection Timeout=30;"
				 providerName="System.Data.SqlClient" />
	


	</connectionStrings>



	<system.web>
		<authentication mode="Forms">
			<forms name=".LoginCookie" loginUrl="~/Account/login.aspx" protection="All" timeout="40" path="/" defaultUrl="~/Account/login.aspx" />
		</authentication>

		<authorization>
			<allow roles="user" />
			<deny users="xxx" />
		</authorization>

	



		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<system.web>
		<globalization culture="en-US" uiCulture="en-US" />
	</system.web>

</configuration>
